/target/
/.settings/
/.tmp/
/.classpath
/.project

src/main/webapp/bower_components/modernizr/media/Modernizr 2 Logo.pdf
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/lib/vendor/web-socket-js/flash-src/com/hurlant/crypto/rsa/RSAKey.as
src/main/resources/.h2.server.properties