<div>

    <div>
	    <form class="form-horizontal">
		<fieldset>
		
		<!-- Form Name -->
		<legend>Reader Info</legend>
		
		<!-- Barcode -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="readerBarcode">Card Barcode</label>  
		  <div class="col-md-4">
		  	<input id="readerBarcode" type="text" placeholder="" class="form-control input-md" ng-model="readerBarcode" ng-enter="getReadercardByBarcode();">
		  </div>
		</div>

		<!-- Name -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="readerName">Name</label>  
		  <div class="col-md-4">
<!-- 		  	<input id="readerName" type="text" placeholder="" class="form-control input-md" ng-model="readerName" ng-enter="getReaderByName();"> -->
		  		<angucomplete-alt id="readerName"
		              placeholder="Search Reader by Name."
		              pause="400"
		              minlength="1"
		              clear-selected="true"
		              selected-object="readerSelected"
		              remote-url="app/rest/readers?name="
		              title-field="name,homePhone,mobilePhone,permanentNo"
		              input-class="form-control form-control-small"/>
		  </div>
		</div>

		<!-- Home Phone -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="readerHomePhone">Home Phone</label>  
		  <div class="col-md-4">
<!-- 		  	<input id="readerHomePhone" type="text" placeholder="" class="form-control input-md" ng-model="readerHomePhone" ng-enter="getReaderByHomePhone();"> -->
		<angucomplete-alt id="readerHomePhone"
		              placeholder="Search Reader by Home Phone #"
		              pause="400"
		              clear-selected="true"
		              selected-object="readerSelected"
		              remote-url="app/rest/readers?homePhone="
		              title-field="name,homePhone,permanentNo"
		              input-class="form-control form-control-small"/>
		  </div>
		</div>

		<!-- Cell Phone -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="readerMobilePhone">Mobile Phone</label>  
		  <div class="col-md-4">
		  	<angucomplete-alt id="readerMobilePhone"
              placeholder="Search Reader by Mobile Phone #"
              pause="400"
              clear-selected="true"
              selected-object="readerSelected"
              remote-url="app/rest/readers?mobilePhone="
              title-field="name,mobilePhone,permanentNo"
              input-class="form-control form-control-small"/>
		  </div>
		</div>
		

	 <div class="table-responsive" ng-show="selectedReader!=''">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                   <th translate="reader.PermanentNo">PermanentNo</th>
                   <th translate="reader.Name">Name</th>
                   <th translate="reader.HomePhone">HomePhone</th>
                   <th translate="reader.MobilePhone">MobilePhone</th>
                   <th translate="reader.Email">Email</th>
                   <th translate="reader.Address">Address</th>
                   <th translate="reader.PostCode">PostCode</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedReader.id}}</td>
                    <td>{{selectedReader.permanentNo}}</td>
                    <td>{{selectedReader.name}}</td>
                    <td>{{selectedReader.homePhone}}</td>
                    <td>{{selectedReader.mobilePhone}}</td>
                    <td>{{selectedReader.email}}</td>
                    <td>{{selectedReader.address}}</td>
                    <td>{{selectedReader.postCode}}</td>
                    <td>
                       
                        <button type="submit"
                                ng-click="selectedReader=''"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
		
		</fieldset>
		
		<fieldset ng-show="selectedReader!=''">
		 <legend> Bibliography Items</legend>

		
		<!-- Item Barcode -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="itemBarcode">Item Barcode</label>  
		  <div class="col-md-4">
		  	<input id="itemBarcode" type="text" placeholder="Scan Item Barcode" class="form-control input-md" ng-model="itemBarcode" ng-enter="getItemByBarcode();">
		  </div>
		</div>
		
		<!-- Item Call Number -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="itemCallNumber">Item Call Number</label>  
		  <div class="col-md-4">
		 	 <input id="itemCallNumber" type="text" placeholder="Input Item Call Number" class="form-control input-md" ng-model="itemCallNumber" ng-enter="getItemByCallNumber();" ng-dblclick="getItemByCallNumber();">
				
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="itemTitle">Item Title</label>  
		  <div class="col-md-4">
		 	 <input id="itemTitle" type="text" placeholder="Input Item Title" class="form-control input-md" ng-model="itemTitle" ng-enter="getItemByTitle();" ng-dblclick="getItemByTitle();">
		  </div>
		</div>
		
		</fieldset>
		</form>
    
    </div>
    
    <div class="table-responsive" ng-show="checkedOutItemList!=''">
	  <table class="table">
	    <thead>
	      	<th translate="global.menu.barcode">Barcode</th>
		    <th translate="bibliograph.title">Title</th>
		    <th translate="bibliograph.callNumber">CallNumber</th>
		    <th translate="bibliograph.author">Author</th>
		    <th translate="bibliograph.publisher">Publisher</th>
		     <th translate="borrowHistory.returnDate">Return Date</th>
		    <th></th>
	    </thead>
	    
	    <tbody ng-repeat="item in checkedOutItemList">
	       <tr>
	          <td>{{item.barcode}}</td>
	          <td>{{item.bibliograph.title}}</td>
			  <td>{{item.bibliograph.callNumber}}</td>
			  <td>{{item.bibliograph.author}}</td>
			  <td>{{item.bibliograph.publisher}}</td>
			   <td>{{item.bibliograph.dueDays|returnDate}}</td>
			  <td>
			   <button type="submit"
                                ng-click="deleteSelectedItem(item.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
			  </td>
	       </tr>
	    </tbody>
	  </table>
	  
	     <div class="btn-group">
	      <button type="button" class="btn btn-primary" ng-click="checkout()">
	         <span class="glyphicon glyphicon-ok"></span><label translate="global.menu.done">Done</label> 
	      </button>
	      
	      <button type="button" class="btn btn-default" ng-click="hideItemPopupWindow()">
	          <span class="glyphicon glyphicon-remove"></span> <label translate="global.menu.cancel">Cancel</label> 
	      </button>
	</div>  
	</div>
	


	   
	   		
   <!-- 	-->	    
	 <modal title="Item List" visible="foundMoreItems">
	 <div class="table-responsive">
	  <table class="table">
	    <thead>
	      	<th></th>
	      	<th translate="global.menu.barcode">Barcode</th>
		    <th translate="bibliograph.title">Title</th>
		    <th translate="bibliograph.callNumber">CallNumber</th>
		    <th translate="bibliograph.author">Author</th>
		    <th translate="bibliograph.publisher">Publisher</th>
		   
	    </thead>
	    
	    <tbody ng-repeat="item in foundItemList">
	       <tr>
	         <td><input type="checkbox" ng-model="selectedItemsId[$index]" ></td>
	         <td>{{item.barcode}}</td>
	          <td>{{item.bibliograph.title}}</td>
			  <td>{{item.bibliograph.callNumber}}</td>
			  <td>{{item.bibliograph.author}}</td>
			  <td>{{item.bibliograph.publisher}}</td>
			 
	       </tr>
	    </tbody>
	  </table>
	</div>
	
	 
	   <div class="btn-group">
	      <button type="button" class="btn btn-primary" ng-click="addItemsFromPopupWindow()">
	         <span class="glyphicon glyphicon-ok"></span><label translate="global.menu.done">Done</label> 
	      </button>
	      
	      <button type="button" class="btn btn-default" ng-click="hideItemPopupWindow()">
	          <span class="glyphicon glyphicon-remove"></span> <label translate="global.menu.cancel">Cancel</label> 
	      </button>
	   </div>   
     </modal>

</div>


